.app {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
}

@media screen and (min-width: 600px) {
    .app {
        padding: 0px;
        padding-left: min(10%,90px);
        padding-right: min(10%,90px);
    }
}

@media screen and (max-width:600px) {
    .app {
        width: 100vw;
        overflow: hidden;
    }
}